@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

/* Styling for the main container */
.container {
  width: 1000px; /* Fixed width in pixels */
  max-width: 100%; /* Ensure it doesn't exceed the viewport width */
  margin: 0 auto; /* Center the container horizontally */
  margin-top: 20px;
  padding: 40px; /* Padding inside the container */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

/* Styling for the body */
body {
  font-family: 'Garamond', serif;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

/* Styling for the header and content */
.App {
  font-family: 'Garamond', serif;
}

/* Styling for the header, text, and name */
.App-header {
  text-align: left; /* Align content to the left */
}

/* Name styling */
.name {
  font-size: 40px; /* Larger font size for name */
  margin-bottom: 70px; /* Margin below the name */
  font-family: 'Lato', sans-serif;
  color: #333; /* Dark gray color for the name */
  font-weight: bold; /* Bold font weight */
}

/* Flex container for intro and image */
.intro-container {
  display: flex; /* Use Flexbox for layout */
  align-items: flex-start; /* Align items to the start of the flex container */
  margin-bottom: 20px; /* Space between intro-container and following sections */
}

/* Styling for introduction text */
.intro {
  font-size: 23px; /* Font size for the intro text */
  margin-right: 40px; /* Margin between text and image */
  color: #333; /* Dark gray color for the text */
  line-height: 1.3; /* Increase line spacing */
}

/* Styling for profile picture */
.profile-pic {
  width: 250px; /* Fixed width for the profile picture */
  height: 250px; /* Fixed height to make it a rectangle */
  object-fit: cover; /* Ensure the image covers the dimensions */
  border-radius: 8px; /* Slightly rounded corners */
}

/* General styling for sections */
.intro, .education, .hobbies, .contact, .past-work {
  font-size: 23px; /* Font size for the text */
  margin-bottom: 10px; /* Margin between paragraphs */
  color: #333; /* Dark gray color for the text */
  line-height: 1.3; /* Increase line spacing */
}

/* Styling for the work list */
.work-list {
  font-size: 23px; /* Font size for the list */
  margin: 0; /* Remove default margin */
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 0; /* Remove default padding */
  list-style-type: disc; /* Disc style for list items */
  margin-left: 40px; /* Increased indent for the list */
  margin-right: 40px; /* Increased indent for the list */
  color: #333; /* Dark gray color for the list items */
  line-height: 1.3; /* Increase line spacing */
}

/* Styling for links */
a {
  color: #6A8C95; /* Light blue color for links */
  text-decoration: none; /* Remove underline from links */
  font-style: italic;
}

/* Styling for links on hover */
a:hover {
  color: #4682B4; /* Slightly darker blue for hover effect */
}
